doctype html 
html 
    head 
        title Natours
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", href="img/favicon.png", type="image/png")
    body
        h1 The Snow Adventure
        p This is just some text  