extends base

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Log into your account
            form.form.form--login
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green(type='submit') Login
        
        .demo-info 
            h2.heading-secondary.ma-bt-lg Demo info for login:
            h4.heading-secondary For admin
            p.form__label Email: admin@natours.io
            p.form__label.ma-bt-lg Password: test1234

            h4.heading-secondary For user
            p.form__label Email:    loulou@example.com
            p.form__label Password: test1234
